@using WineStoreWeb.Models
@model List<Giohang>
@{
    ViewBag.Title = "Giohang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="color:blue;text-align:center">Giỏ hàng</h2>
<table align="center"border="1">
    <tr style="text-align:center; font-weight:bold">
        <td> Mã rượu </td>
        <td> Tên rượu </td>
        <td> Ảnh rượu </td>
        <td> Số lượng </td>
        <td> Đơn giá </td>
        <td> Thành tiền </td>
        <td width="50px"></td>
        <td width="50px"></td>
        <td width="50px"></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="text-align:center; font-weight:bold">
            <td> @item.iMaRuou </td>
            <td> @item.sTenRuou </td>
            <td><img src="~/images/@item.sAnhRuou" /></td>
            @using (Html.BeginForm("CapnhatGiohang", "Giohang", new { @iMaSP = item.iMaRuou }))
            {
                <td>
                    <input type="number"min="1"name="txtSoluong"value="@item.iSoluong"style="background-color:yellow"/>
                </td>
            <td> @String.Format("{0:0,0}", item.dGiaban) </td>
            <td>@String.Format("{0:0,0}", item.dThanhtien)</td>
            <td><a href="@Url.Action("Details", "WineStore", new { id = item.iMaRuou })">Chi tiết</a></td>
            <td>@Html.ActionLink("Xóa", "XoaGiohang", new { @iMaSP = item.iMaRuou })</td>
            <td><input type="submit" value="Cập nhật"/></td>
            }
        </tr>
    }
    <tr style="text-align:right; font-weight:bold; color:red">
        <td colspan="4">Số lượng rượu: @ViewBag.Tongsoluong </td>
        <td colspan="5">Tổng tiền: @String.Format("{0:0,0}",ViewBag.Tongtien) VNĐ </td>
    </tr>
    <tr style="text-align:right; font-weight:bold; color:blue">
        <td colspan="9">
            @Html.ActionLink("Xóa hết giỏ hàng", "XoatatcaGiohang")
        </td>
    </tr>
    <tr style="text-align:right; font-weight:bold; color:blue">
        <td colspan="9" align="center">
            @Html.ActionLink("Đặt hàng","Dathang", "Giohang")
        </td>
    </tr>
</table>
